<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Description</th>     
      <th>Creator</th> 
      <th>invitation</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @event.name %></th>
      <td><%= @event.start_date %></td>
      <td><%= @event.end_date %></td>
      <td><%= @event.location %></td>
      <td><%= @event.description %></td>
      <td><%= @event.creator.email.split('@')[0] %></td>
      <td>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <%@event.attendees.each do |attendee|%>
              <li><a class="dropdown-item"><%=attendee.email.split('@')[0]%></a></li>
            <%end%>
        </ul>
      </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= form_with(model: @invitation) do |form| %>
            <div class="feild">
              <%= form.number_field :user_id ,value:current_user.id,type: :hidden%>   
            </div>
            <div class="feild">
              <%= form.number_field :event_id,value:@event.id,type: :hidden%>  
            </div>    
            <div class="actions">
              <%= form.submit "Enroll",class: 'btn btn-primary'%>
            </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_event_path(@event),class:'btn btn-secondary' %> 
<%= link_to 'Back', events_path,class:'btn btn-secondary' %>