<%= form_with(model: invitation) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="feild">
    <%= form.label :user_id%>
    <%= form.number_field :user_id%>   
  </div>
  <div class="feild">
    <%= form.label :event_id%>
    <%= form.number_field :event_id %>  
  </div>    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



